* {
    box-sizing: border-box;
    scroll-behavior:smooth;
}

body {
    height: 100vh;
    margin: 0 auto;
    background-color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #000000;
}

.container {
    width: 85%;
    max-width: 80rem;
    text-align: left;
    margin:  auto;
}

.title {
    font-size: 3rem;
}

.bayan  {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}


.bayan__label {
    cursor: pointer;
    border-top: 2px solid #ccc;
    position: relative;
    text-align: center;
    padding-bottom: 1rem;
}

.bayan__input {
    appearance: none;
    width: 3rem;
    height: 3rem;
    background-image: url('assets/plus_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 1rem;
    right: 1rem;    
}

.bayan__input:checked {
    background-image: url('assets/close_icon.svg');
}

.bayan__input:checked ~ .bayan__text {
    color: #000;
}

.bayan__img {
    width: 45rem;
    height: auto;
}

.bayan__text {
    text-align: left;
    color: rgb(76, 76, 202);
}



